@import 'colors';

body{
    background-color: $DarkBlueBackground;
    font-size: 14px;
    font-family: "Open Sans";
    color: $White;
    font-weight: 400;
    text-align: center;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.menu-nav{

    padding-top: 4.4rem;
    padding-left: 5rem;
    background-color: $DarkBlue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway";
    &__group-menu-nav{
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 270px;
        padding-right: 5.16rem;
        font-size: 1.1em;
        .group-menu-nav{
            
            &__link{
                    & > a{
                        text-decoration: none;
                        color: $White;
                    }
                }
        }
    }


}


.section1{

    background: no-repeat url("../asset/images/bg-curvy-desktop.svg"),
                $DarkBlue;
    background-position:  bottom;
    margin-bottom: 12rem;

    &__image{
        width: 100%;
        max-width: 720px;
        margin-top: 4.85rem;
    }

    &__title{
        font-family: "Raleway";
        font-size: 2.9em;
        font-weight: 700;
        line-height: 3.66rem;
        max-width: 700px;
        margin: auto;
        margin-bottom: 2.18rem;
    }

    &__text{
        font-size: 1.43em;
        max-width: 630px;
        margin: auto;
        line-height: 1.5em;
        margin-bottom: 2.55em;
    }
}

.btn{
    background: $Cyan;
    color: $White;
    font-family: "Raleway";
    font-size: 1.005rem;
    font-weight: 700;
    text-decoration: none;
    padding: 6rem;
    padding-top: 1.15rem;
    padding-bottom: 1.15rem;
    border-radius: 7rem;
    transition: all 0.4s;
    cursor: pointer;
}

.section2{

    &__group-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1050px;
        margin: auto;

        .card{
            width: 379.9px;
            margin-bottom: 5.52rem;
        
            &__title{
                font-family: "Raleway";
                font-weight: 700;
                font-size: 1.2rem;
                margin-top: 1.6em;
                margin-bottom: 0.65rem;
            }
        
            &__text{
                line-height: 1.35rem;
            }
        }
    }
}



.section3{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-left: 6.2rem;
        margin: auto;
        margin-top: 2.9rem;
        margin-bottom: 11.2rem;
        
    &__image{
        width: 100%;
        max-width: 615px;
        
    }

    &__info{
        margin-left: 4rem;
        text-align: left;
        
        margin-top: 7.1rem;
        max-width: 580px;

        .info{
            &__title{
                font-family: "Raleway";
                font-size: 2.5rem;
                font-weight: 700;
                line-height: 3.1rem;
                margin-bottom: 1.4rem;
                width: 22rem;
                
            }
        
            &__text{
                line-height: 1.5rem;
                font-size: 1.01rem;
                margin-bottom: 1rem;
                &:last-of-type{
                    margin-bottom: 1.6rem;
                }
            }
        
            &__link{
                color: $link;
                font-size: 1.2em;
                text-decoration: none;
                border-bottom: solid $link 1px;
                padding-bottom: 0.2rem;
            }
        }
    }  
}


.section4{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;

    &__quote{
        background-color: $lighterBlue;
        width: 295px;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.45rem;
        padding-bottom: 1.4rem;
        line-height: 1.35rem;
        text-align: left;
        border-radius: 5px;
        margin-bottom: 1.5rem;

        .quote{

            &__text{
                margin-bottom: 1.2rem;
            }

            &__profile{
                display: flex;
                flex-direction: row;
                line-height: 1rem;

                .profile{

                    &__image{
                        height: 24px;
                        border-radius: 50%;
                    }
                    &__name{
                        margin-top: 0.18rem;
                        font-size: 0.8em;
                    }

                    &__job{
                        font-size: 0.5em;
                    }
                }
            }
        }
    }
}

.section5{
    background-color: $DarkBlue;
        max-width: 864px;
        margin: auto;
        margin-top: 11.4rem;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);
        -moz-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);
        box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);

    &__title{
        font-family: 'Raleway';
        font-size: 2.3em;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__text{
        max-width: 650px;
        line-height: 1.5em;
        margin: auto;
        margin-bottom: 2.35rem;
    }
    
    &__form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-right: 4.7rem;
        padding-left: 4.7rem;
        .form{

            &__mail{
                width: 450px;
                margin-right: 1.8rem;
                border-radius: 7rem;
                padding: 1rem;
                border: none;

                &::placeholder{
                    font-size: 0.75rem;
                    padding-left: 2.1rem;
                    color: lightgray;
                }
            }

            &__btn{
                border: none;
                width: 200px;
                font-family: 'Raleway';
                font-size: 0.86rem;
                padding: 1rem;
                padding-left: 0;
                padding-right: 0;
            }
        }
        
    }
}

.menu-footer{
    background-color: $DarkerBlue;
    position: relative;
    z-index: -1;
    left: 0;
    top: -7.2rem;
    padding-top: 12.5rem;
    padding-left: 7.6rem;
    padding-right: 5.1rem;
    -webkit-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);
    -moz-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);
    box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.50);
    display: flex;
    flex-direction: column;
    justify-content: start;
    line-height: 1.5rem;

    &__image{
        height: auto;
        margin-right: 1.7rem;

        &--location{
            margin-top: 0.5rem;
        }
        &--logo{
            width: 176px;
            margin-bottom: 2rem;
        }
    }

    &__infos{
        text-align: left;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 4.5rem;
        &.location{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &.contact{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            
            margin-right: 4rem;
            margin-left: 0.8rem;
        }
    }

    &__contact{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    &__text{
        width: 100%;
        max-width: 330px;
        font-size: 1.133em;
        
        &--info{
            margin-bottom: 1.1rem;
        }
    }

    &__links{
        display: flex;
        flex-direction: column;
        line-height: 2.74em;
        margin-top: -0.5rem;
    }

    &__link{
        color: $White;
        text-decoration: none;
        font-size: 1.133em;
    }

    &__social-media-image{
        margin-left: 2rem;
    }
    &__social-media--image{
        width: 16px;
        height: 16px;
        text-align: center;
        font-size: 1.1em;
        border: solid $White 1px;
        padding: 0.4rem;
        border-radius: 50%;
        margin-left: 0.5rem;
    }
}
.attribution{
    &>a{
        color: $link;
    }
}

@media screen and (max-width: 740px) {

    .menu-nav{

        padding-left: 1.2rem;
        padding-top: 1.45rem;
        &__logo{
            width: 80px;
        }

        &__group-menu-nav{
            width: 165px;
            padding-right: 1.6rem;
            font-size: 0.8rem;
        }
    }
    .section1{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-bottom: 9.1rem;

        &__image{
            margin-top: 3rem;
            margin-bottom: 2.18rem;
            width: 80vw;
        }

        &__title{
            font-size: 1.5rem;
            line-height: 2.3rem;
            margin-bottom: 0.9rem;
        }

        &__text{
            font-size: 0.95rem;
            line-height: 1.37rem;
            margin-bottom: 3.1rem;
        }

        &__link{
            padding-top: 0.9rem;
            padding-bottom: 0.9rem;
            
        }
    }
    .btn{
        padding-left: 4.85rem;
        padding-right: 4.85rem;
    }
    .section2{

        &__group-card{
            padding-left: 1.9rem;
            padding-right: 1.9rem;

            .card{
                &__image{
                    height: 61px ;
                }

                &__title{
                    margin-top: 2.3rem;
                }
                &__text{
                    font-size: 0.927em;
                }
            }
        }
    }
    .section3{
        padding-left: 0;
        margin: auto;
        justify-content: center;

        &__image{
            margin-top: 4.6rem;
            width: 75vw;
        }

        &__info{
            margin-left: 0;
            width: 80vw;

            .info{

                &__title{
                    font-size: 1.3em;
                    margin-bottom: 0.2rem;
                }
                &__text{
                    font-size: 0.9em;
                    line-height: 1.7em;

                    &:last-of-type{
                        margin-bottom: 1rem;
                    }
                }

                &__link{
                    font-size: 0.8rem;
                }
            }
        }
    }

    .section4{
        margin-top: 11rem;
        padding-left: 3rem;
        padding-right: 3rem;

        &__quote{
            padding-top: 1.5rem;
            padding-bottom: 1rem;

            .quote{

                &__text{
                    font-size: 0.65em;
                    line-height: 2em;
                    margin-bottom: 0.7rem;
                }
                &__profile{
                    align-items: center;

                    .profile{
                        
                        &__image{
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .section5{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;


        &__title{
            font-size: 1.2rem;
        }

        &__text{
            font-size: 0.95em;
        }

        &__form{
            width: 100%;
            padding-left: 0;
            .form{

                &__mail{
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 1.5rem;
                }
                &__btn{
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }

    .menu-footer{
        padding-left: 1.8rem;
        padding-right: 1.8rem;

        &__image{

            &--logo{
                margin-left: 1rem;
            }
            
        }
        &__infos{

            & .location{
                flex-direction: row;
            }
        }
        &__text{
            width: 87%;
        }
        &__links{
            width: 100%;
            margin-bottom: 2rem;
        }

        &__social-media-image{
            text-align: center;
            width: 100%;
            margin: 0;
        }
    }
}